# Spark Application

In [2]:
df = spark.read.table("accounts")

In [3]:
df.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: timestamp (nullable = true)
 |-- acct_close_dt: timestamp (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: timestamp (nullable = true)
 |-- modified: timestamp (nullable = true)

In [4]:
df.show(2)

+--------+--------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+--------------------+--------------------+
|acct_num|      acct_create_dt|acct_close_dt|first_name|last_name|             address|         city|state|zipcode|phone_number|             created|            modified|
+--------+--------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+--------------------+--------------------+
|       1|2008-10-23 16:05:...|         null|    Donald|   Becton|2275 Washburn Street|      Oakland|   CA|  94660|  5100032418|2014-03-18 13:29:...|2014-03-18 13:29:...|
|       2|2008-11-12 03:00:...|         null|     Donna|    Jones| 3885 Elliott Street|San Francisco|   CA|  94171|  4150835799|2014-03-18 13:29:...|2014-03-18 13:29:...|
+--------+--------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+--------------------+--------------------+
only showing top 2 rows

In [9]:
df.select('state').distinct().show()

+-----+
|state|
+-----+
|   AZ|
|   OR|
|   NV|
|   CA|
+-----+

In [11]:
df = df.filter(df.state == 'CA')
df.show(2)

+--------+--------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+--------------------+--------------------+
|acct_num|      acct_create_dt|acct_close_dt|first_name|last_name|             address|         city|state|zipcode|phone_number|             created|            modified|
+--------+--------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+--------------------+--------------------+
|       1|2008-10-23 16:05:...|         null|    Donald|   Becton|2275 Washburn Street|      Oakland|   CA|  94660|  5100032418|2014-03-18 13:29:...|2014-03-18 13:29:...|
|       2|2008-11-12 03:00:...|         null|     Donna|    Jones| 3885 Elliott Street|San Francisco|   CA|  94171|  4150835799|2014-03-18 13:29:...|2014-03-18 13:29:...|
+--------+--------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+--------------------+--------------------+
only showing top 2 rows